.home {
	&__hero-slider {}

	&__our-series {
		margin: 177px 0 80px;

		@media (max-width: $md3+px) {
			margin: 100px 0 80px;
		}
	}

	&__professionals {
		margin: 92px 0 80px;
	}

	&__learn-videos {
		margin: 211px 0 310px;

		@media (max-width: 1023px) {
			margin: 211px 0 110px;
		}

		@media (max-width: $md3+px) {
			margin: 80px 0 150px;
		}

		@media (max-width: $md4+px) {
			margin: 80px 0 0px;
		}
	} 
}