.block-columns {
	&--3 {
		margin-left: -16px !important; 
		margin-right: -16px !important;
		justify-content: center;

		& .column {
			//width: 33.333% !important;
			padding: 0 16px;
			margin-bottom: 32px;
		}
	}

	&--4 {
		margin-left: -15px !important; 
		margin-right: -15px !important;
		flex-wrap: wrap !important;
		display: flex !important;

		& .column {
			padding: 0 15px;
			margin-bottom: 30px;

			&.is-3 {
				@media (max-width: 1023px) {

					width: 33.333% !important;
				}

				@media (max-width: 767px) {
					flex: 0 1 auto !important;
					width: 50% !important;
				}

				@media (max-width: 575px) {
					width: 100% !important;
				}

			}

		}
	}


}