.video-gallery {
	&__body {
		display: flex;
		overflow: hidden;
		border-radius: 0.9rem;
		box-shadow: 0px 1.2rem 2.7rem rgba(52, 79, 110, 0.1);

		@media (max-width: 1023px) {
			display: block;
			overflow: unset;
		}

	}
	&__column {}
	&__column--1 {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		
		@media (max-width: 1023px) {
			margin-bottom: 2rem;
			overflow: hidden;
			border-radius: 0.9rem;
			display: block;
		}


	}
	&__column--2 {
		flex: 0 0 calc(29rem + 10%);
	}

	&__video-wrap {
		flex: 1 1 auto;
		position: relative;
		width: 100%;

		@media (max-width: 1023px) {
			min-height: 46.9rem;
		}

		@media (max-width: $md3+px) {
			min-height: 36.9rem;
		}

		@media (max-width: $md4+px) {
			min-height: 26.9rem;
		}

		& > video {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}

		& > iframe {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
		}
	}

	&__video {}

	&__play-pause {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		background: #FF0000;
		border-radius: 0.8rem;
		width: 7.2rem;
		height: 5.6rem;
		font-size: 2.2rem;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .2s ease;
		cursor: pointer;

		& .icon-play3 {
			margin-left: 0.4rem;
		}

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#FF0000, 0.8);
			}
		}
	}

	&__title {
		margin-bottom: 0.6rem !important;
		padding-left: 1.8rem;
		margin-top: 2rem;
	}

	&__list {
		height: 44.5rem;
		overflow: auto;

		@media (max-width: 1023px) {
			height: auto;
			max-height: 44.5rem;
		}
	}
	&__item {
		cursor: pointer;
		padding: 1.2rem 3rem 0.8rem 1.8rem;
		background: #fff;
		transition: all .2s ease;
		display: flex;

		@media (min-width: 992px) {
			&:hover {
				background: #F3F5F9;
			}
		}

		@media (max-width: $md4+px) {
			padding: 1.2rem 1rem 0.8rem 1rem;
		}
	}

	&__item-column {}
	&__item-column--1 {
		flex: 0 0 auto;
		margin-right: 1.5rem;
	}
	&__item-column--2 {
		flex: 1 1 auto;
	}

	&__item--img {
		overflow: hidden;
		border-radius: 0.4rem;
		width: 8rem;
		height: 5.8rem;
		position: relative;

	}

	&__item-play-pause {
		&.video-gallery__play-pause {
			width: 2.9rem;
			height: 1.8rem;
			font-size: 1.2rem;
			border-radius: 0.1rem;			
			background: #1E2E42;
		}
	}

	&__item-title {
		font-weight: bold;
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #000000;
		margin-bottom: 0.5rem;
		margin-top: 0.7rem;

		@media (max-width: $md4+px) {
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-top: 0.5rem;
		}
	}

	&__item-text {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #888888;

		@media (max-width: $md4+px) {
			font-size: 1.2rem;
			line-height: 1.5rem;
		}
	}

	&__sub-text {
		font-style: normal;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 4rem;
		color: #000000;
		margin-top: 4.2rem;

		@media (max-width: $md3+px) {
			font-size: 1.8rem;
			line-height: 3rem;
		}

		& > p {
			margin: 0 0 2.5rem;
		}
	}
}
