.video-details {
	&__hero {}
	&__hero-video-wrap {
		height: 0;
		overflow: hidden;
		padding-bottom: 56%;
		border-radius: 0.9rem;
		margin-bottom: 4rem;

		@media (max-width: $md3+px) {
			margin-bottom: 2rem;
		}

		& > video {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}

		& > iframe {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}
	}

	&__video {}

	&__play-pause {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		background: #FF0000;
		border-radius: 0.8rem;
		width: 7.2rem;
		height: 5.6rem;
		font-size: 2.2rem;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .2s ease;
		cursor: pointer;

		& .icon-play3 {
			margin-left: 0.4rem;
		}

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#FF0000, 0.8);
			}
		}
	}
	&__hero-subtext {
		font-style: normal;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 4rem;
		color: #000000;

		@media (max-width: $md3+px) {
			font-size: 1.8rem;
			line-height: 3rem;
		}

		& > p {
			margin: 0 0 2.5rem;
		}
	}


	&__accordion {
		margin-bottom: 8rem;
	}

	&__related-video {
		margin: 9.5rem 0 26rem;

		@media (max-width: 1023px) {
			margin-bottom: 0;
		}

		&-title {
			margin-bottom: 5rem !important;

			@media (max-width: $md3+px) {
				margin-bottom: 2rem !important;
			}
		}
	}	
}
