.card-video {
	display: block;
	padding: 1rem;
	background: #FFFFFF;
	box-shadow: 0px 1.2rem 2.7rem rgba(52, 79, 110, 0.1);
	border-radius: 0.9rem;
	color: #1E2E42;
	transition: all .2s ease;
	height: 100%;

	@media (min-width: 992px) {
		&:hover {
			box-shadow: 0px 1.2rem 3.7rem rgba(52, 79, 110, 0.2);
		}
	}

	&__video-wrap {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-bottom: 78%;
		border-radius: 0.4rem;
		display: flex;
		justify-content: center;
		align-items: center;

		& > video {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}

		& > iframe {
			position: absolute;
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}
	}

	&__video {}

	&__play-pause {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		background: #1E2E42;
		border-radius: 0.8rem;
		width: 7.2rem;
		height: 5.6rem;
		font-size: 2.2rem;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .2s ease;

		& .icon-play3 {
			margin-left: 0.4rem;
		}

		@media (min-width: 992px) {
			&:hover {
				background: rgba(#1E2E42, 0.8);
			}
		}
	}

	&__center {
		display: flex;
		justify-content: space-between;
		padding: 1.1rem 0;	
		align-items: center;	
	}

	&__btn {
		font-size: 1.4rem;
		font-weight: 500;
		color: #fff;
		background: #344F6E;
		border-radius: 0.4rem;
		padding: 0.7em 2rem;
		margin-right: 1rem;
		transition: all .2s ease;

		@media (min-width: 992px) {
			&:hover {
				opacity: 0.8;
			}
		}

		&.architecture {
			background: rgba(93, 180, 70, 0.2);
			color: #5DB446;
		}

		&.interior {
			background: rgba(44, 146, 188, 0.2);
			color: #2C92BC;
		}
		&.property {
			background: rgba(#CF7FFD, 0.2);
			color: #CF7FFD;
		}
		&.trade-services {
			background: rgba(#FF4A38, 0.2);
			color: #FF4A38;
		}
		&.pools {
			background: rgba(#3D51FE, 0.2);
			color: #3D51FE;
		}
		&.solar-energy {
			background: rgba(#FF7B19, 0.2);
			color: #FF7B19;
		}
	}

	&__duration {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #000000;

		& > span {
			width: 2.4rem;
			margin-right: 0.6rem;

			& img {
				width: 100%;
			}
		}
	}

	&__text {
		padding:0 1rem 1rem;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.6rem;
		color: #1E2E42;

		@media (max-width: $md3+px) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}
}


