* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
	font-size: 10px;
	background: #F9F9FF;

	@media (max-width: 1440px) {
		font-size: 8px;
	}

	@media (max-width: 1023px) {
		font-size: 10px;
	}
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 14px;
	opacity: 0;
	transition: opacity .8s ease;
	transition-delay: .5s;
	&.lock {
		overflow: hidden;
	}


	&.isload {
		opacity: 1;
	}

}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================
.page {

}

.container {
	position: static;
	max-width: 121rem !important;
	margin: 0 auto;
	width: 100%;
	padding: 0 1.5rem;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.text {
	font-size: 1.6rem;
	line-height: 2.8rem;

	@media (max-width: $md3+px) {
		font-size: 1.4rem;
		line-height: 2.6rem;
	}
}

.input {
	min-height: 5rem;
	padding: 1rem 1.6rem;
	background: rgba(52, 79, 110, 0.1);
	border: 1px solid rgba(52, 79, 110, 0.3);
	outline: none;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: #344F6E;

	&::placeholder {
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #344F6E;
	}

	&:focus {
		border: 1px solid rgba(#000, 0.4);
	}
}

.textarea {
	resize: none;
	height: 17.2rem;
	padding: 1.6rem 1.6rem;
	background: rgba(52, 79, 110, 0.1);
	border: 1px solid rgba(52, 79, 110, 0.3);
	outline: none;
	width: 100%;
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: #344F6E;
	border-radius: 0;

	&::placeholder {
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: #344F6E;
	}

	&:focus {
		border: 1px solid rgba(#000, 0.4);
	}
}

.error404 {
	& .container {
		min-height: 50vh;
	}

	& h1 {
		font-size: 4.6rem;
		line-height: 5.6rem;
		margin-top: 2rem;
	}

	& p {
		font-size: 2rem;
		line-height: 3rem;
	}
}