.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba(0,0,0, 0.6);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 30px;
	}

	&_content {
		background: #fff;
		max-width: 333px;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: translateY(-100%);
		outline: 0;
		text-align: center;
	}

}