@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}


// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
//@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================
@import "global";
// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================

//<FANCYBOX>===============================================================================================
//@import "fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "slick-slider.scss";
// ==== // ПЛАГИНЫ ===========================================================================================


// ==== БУРГЕР ===========================================================================================
//@import "burger";
// ==== БУРГЕР ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================



// ==== HEADER =====================================================
@import "../project/header/header";
// ==== AND HEADER =====================================================



// ==== COMMON BLOCKS =====================================================
@import "../project/common-blocks/logo/logo";
@import "../project/common-blocks/title/title";
@import "../project/common-blocks/block-columns/block-columns";
@import "../project/common-blocks/buttons/button";
@import "../project/common-blocks/carousel-video/carousel-video";
@import "../project/common-blocks/carousel-video-block/carousel-video-block";
// ==== AND COMMON BLOCKS =====================================================


// ==== HOME =====================================================
@import "../project/home/home";
@import "../project/home/hero-slider/hero-slider";
@import "../project/home/our-series/our-series";
@import "../project/home/professionals/professionals";
// ==== AND HOME =====================================================


// ==== FOOTER =====================================================
@import "../project/footer/footer";
// ==== AND FOOTER =====================================================
