@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}


// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================
@import "global";
// ==== ГЛОБАЛЬНЫЕ СВОЙСТВА ===========================================================================================

//<FANCYBOX>===============================================================================================
@import "fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "slick-slider.scss";
// ==== // ПЛАГИНЫ ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================



// ==== HEADER =====================================================
@import "../project/header/header";
// ==== AND HEADER =====================================================



// ==== COMMON BLOCKS =====================================================
@import "../project/common-blocks/logo/logo";
@import "../project/common-blocks/title/title";
@import "../project/common-blocks/block-columns/block-columns";
@import "../project/common-blocks/buttons/button";
@import "../project/common-blocks/carousel-video/carousel-video";
@import "../project/common-blocks/carousel-video-block/carousel-video-block";
@import "../project/common-blocks/hero-search/hero-search";
@import "../project/common-blocks/form-search/form-search";
@import "../project/common-blocks/card-preview/card-preview";
@import "../project/common-blocks/stars/stars";
@import "../project/common-blocks/map/map";
@import "../project/common-blocks/pagination/pagination";
@import "../project/common-blocks/box/box";
@import "../project/common-blocks/rating-block/rating-block";
@import "../project/common-blocks/buttons/button-submit.scss";
@import "../project/common-blocks/card-video/card-video.scss";
@import "../project/common-blocks/accordion/accordion";
@import "../project/common-blocks/card-post/card-post";
@import "../project/common-blocks/card-tv-series/card-tv-series";
// ==== AND COMMON BLOCKS =====================================================


// ==== HOME =====================================================
@import "../project/home/home";
@import "../project/home/hero-slider/hero-slider";
@import "../project/home/our-series/our-series";
@import "../project/home/professionals/professionals";
// ==== AND HOME =====================================================


// ==== PROFESSIONALS =====================================================
@import "../project/professionals/professionals";
@import "../project/professionals/catefory-cards-list/catefory-cards-list";
@import "../project/professionals/how-it-works/how-it-works";
@import "../project/professionals/serch-by-city/search-by-city";
@import "../project/professionals/trips-articles/trips-articles";
// ==== AND PROFESSIONALS =====================================================


// ==== PROFESSIONALS CATEGORY =====================================================
@import "../project/professionals-category/professionals-category";
// ==== AND PROFESSIONALS CATEGORY =====================================================


// ==== PROFESSIONALS DETAILS =====================================================
@import "../project/professionals-details/professionals-details";
@import "../project/professionals-details/hero/hero";
@import "../project/professionals-details/gallery/gallery.scss";
@import "../project/professionals-details/reviews-block/reviews-block";
@import "../project/professionals-details/add-reviwe-form/add-reviwe-form";
// ==== AND PROFESSIONALS DETAILS =====================================================


// ==== VIDEOS =====================================================
@import "../project/videos/videos";
// ==== AND VIDEOS =====================================================


// ==== VIDEO DETAILS =====================================================
@import "../project/video-details/video-details";
// ==== AND VIDEO DETAILS =====================================================


// ==== BLOG =====================================================
@import "../project/blog/blog";
@import "../project/blog/hero-gallery/hero-gallery";
// ==== AND BLOG =====================================================


// ==== BLOG DETAILS =====================================================
@import "../project/blog-details/blog-details";
@import "../project/blog-details/hero-image/hero-image";
@import "../project/blog-details/citation/citation";
// ==== AND BLOG DETAILS =====================================================


// ==== SUSTAINABILITY =====================================================
@import "../project/sustainability/sustainability";
// ==== AND SUSTAINABILITY =====================================================


// ==== TV-SERIES =====================================================
@import "../project/tv-series/tv-series";
// ==== AND TV-SERIES =====================================================


// ==== FOOTER =====================================================
@import "../project/footer/footer";
// ==== AND FOOTER =====================================================
