.trips-articles {
	&__title {
		margin-bottom: 1.7rem !important;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -1.5rem;
	}

	&__item {
		padding: 0 1.5rem;
		width: 33.3333%;
		margin-bottom: 3rem;

		@media (max-width: 840px) {
			width: 50%;
		}

		@media (max-width: 575px) {
			width: 100%;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		height: 100%;
		color: $textColor;
		background: #FFFFFF;
		border-radius: 0.9rem;
		border: 1px solid #EAEAEA;
		transition: all .2s ease;
		position: relative;
		top: 0;
		text-align: center;
		padding: 0px 0px 3.3rem;

		@media (min-width: 992px) {
			&:hover {
				box-shadow: 0px 1.2rem 1.4rem rgba(37, 41, 79, 0.1);
				border: 1px solid transparent;
				top: -0.3rem;
			}
		}
	}
	&__card-img {
		position: relative;
		height: 0;
		padding-bottom: 56%;
		overflow: hidden;
		border-radius: 0.9rem;
	}
	&__card-title {
		font-weight: bold;
		font-size: 2rem;
		line-height: 2.8rem;
		margin-top: 1.4rem;
		margin-bottom: 1.5rem;
		padding: 0 1.5rem;
	}

	&__card-text {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.1rem;
		padding: 0 1.5rem;
	}
}
