.carousel-video-block {
	&__body {
		display: flex;

		@media (max-width: 1023px) {
			display: block;
		}
	}

	&__column {
		&_1 {
			flex: 0 0 439 / 1180 * 100%;
			padding-right: 15px;

			@media (max-width: 1023px) {
				padding-right: 0;
				margin-bottom: 100px;
			}
		}
		&_2 {
			flex: 1 1 auto;
		}
	}

	&__title {
		margin-bottom: 19px !important;
	}

	&__text {
		color: #344F6E;
		font-size: 18px; 
		line-height: 33px;
		max-width: 365px;

		@media (max-width: 1023px) {
			max-width: none;
		}

		& > p {
			margin: 0 0 32px;
		}
	}

	&__btn-wrap {
		& .button {
			font-size: 20px;
		}
	}
}
