.hero-slider {
	background: #00d4b9;
	position: relative;
	margin-bottom: 7rem;

	@media (max-width: 1023px) {
		margin-bottom: 2rem;
	}


	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__body {

		& .slick-slide {
			min-height: 70.2rem;

			@media (max-width: $md3+px) {
				min-height: 36rem; 
			}

			& > div {
				height: 100%;
			}	
		}

	}

	&__item {
		padding: 16rem 0 14.4rem;
		font-size: 4.1rem;
		line-height: 5rem;
		position: relative;
		display: flex !important;
		flex-direction: column;
		height: 100%;

		@media (max-width: $md3+px) {
			padding: 13.5rem 0 5rem;
		}
	
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__item-inner {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		&:before {
			content: '';
			display: block;
			flex: 1 1 auto;
			order: 1;
		}
	}

	&__title {
		max-width: 40rem;
		margin-bottom: 3.3rem !important;
		text-shadow: 0px 0px 1px #fff;

		@media (max-width: $md3+px) {
			margin-bottom: 2.3rem;
		}
	}
	&__subtitle {
		max-width: 35rem;
		margin-bottom: 1rem;
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: #000;
		margin-bottom: 3.5rem !important;
		text-shadow: 0px 0px 1px #fff;


		@media (max-width: $md3+px) {
			display: none;
		}
	}
	&__btn-wrap {
		order: 1;
	}

	&__btn {
/*		font-family: $secondFontFamily;
		font-size: 20px;
		padding-right: 1.9em;
		padding-left: 1.9em;
		padding-bottom: calc(1.7em - 1px);
		padding-top: calc(1.7em - 1px);
		border-radius: 5px;*/

		&:not(:last-child) {
			margin-right: 1rem;
			margin-bottom: 1.6rem;

			@media (max-width: $md4+px) {
				margin-right: 0.5rem;
			}
		}


		@media (max-width: $md3+px) {
			font-size: 1.6rem;
		}

		@media (max-width: $md4+px) {
			font-size: 1.2rem;
		}

	}


	&__dots {
		position: absolute;
		bottom: -6.5rem;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		max-width: 118rem;
		background-color: #000;
		border-radius: 1.5rem;
		padding: 0 7rem;

		@media (max-width: 1023px) {
			bottom: -1.5rem;
			padding: 0 1.5rem;
		}
	}
	&__dots-body {
		display: flex;
		position: relative;

		& .slick-slide.slick-current  {
			& .hero-slider__dots-hr {
				background: #fff;
			}
		}

		& .slick-slide {
			& > div {
				height: 100%;
			}
		}

		& .slick-track {
			transform: translate3d(0px,0px,0px) !important;
		}
	}
	&__dots-item {
		height: 100%;
		min-height: 13rem;
		position: relative;
		padding: 0 3.25rem;
		cursor: pointer;
		transition: all .2s ease;

		@media (min-width: 992px) {
			&:hover {
				& .hero-slider__dots-hr {
					background: rgba(#fff, 0.2);
				}
			}
		}

		@media (max-width: 1023px) {
			min-height: 3rem;
		}
	}

	&__dots-title {
		color: #fff;
		font-family: $secondFontFamily;
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.8rem;
		margin-top: 3.5rem;
		margin-bottom: 2rem;

		@media (max-width: 1023px) {
			display: none;
		}
	}
	&__dots-hr {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 80%;
		transform: translateX(-50%);
		background: transparent;
		border-radius: 0.5rem 0.5rem 0px 0px;
		height: 0.7rem;
		transition: all .2s ease;

		@media (max-width: 1023px) {
			background: rgba(#fff, 0.2);
		}
	}
}
