.hero-search {
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(18, 25, 88, 0.5);
			z-index: 1;
		}
	}

	&__body {
		position: relative;
		z-index: 2;
		min-height: 32rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__title {
		font-weight: bold;
		font-size: 4.6rem;
		line-height: 6.4rem;
		text-align: center;
		color: #fff;
		margin: 2.5rem 0 3.6rem;

		@media(max-width: $md3+px) {
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__form {
		width: 100%;
		max-width: 57rem;
		margin: 3rem auto;
	}
}

